/*
============================================
; Title:  Exercise 5.2
; Author: Professor Krasso
; Modified by: James Brown
; Date:   8/5/2020
; Description: exercise 5.2 per instructions
;===========================================
*/

.logo {
    margin-top: 5px;
}

.main-container {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}