/*
============================================
; Title:  Exercise 5.4
; Author: Professor Krasso
; Modified by: James Brown
; Date:   8/5/2020
; Description: exercise 5.4 per instructions
;===========================================
*/


.a-link {
    text-decoration: none;
    cursor: pointer;
}

.a-link:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 25
}

.grid-container-item{
    padding: 20px;
    font-size: 30px;
}

.grid-container-ahref:hover {
    text-decoration: underline;
}

.grid-container-ahref{
    text-decoration: none;
    cursor: pointer;
}