<div class="container text-center">
<h1>Welcome to the About Page</h1>
<br /><br />
<h4>Ludwig van Beethoven (1770-1827)</h4>
<br />
    <div class="row">
        <div class="col">
<img src="../../assets/Beethoven.jpg" style="width: 60%;">
        </div>
        <div class="col text-left">
            <p>Ludwig van Beethoven is a classical musical composer who many argue is one of the greatest composers of all time. The reason many hold him in this regard is due to him being able to translate feeling into music. Beethoven is responsible for creating compositions such as “Symphony No. 5 in C Minor” and “Symphony No. 7 in A Major”. An interesting fact about Beethoven was that he gradually became deaf over the years. According to the Encyclopedia Britannica, he wrote the majority of his famous pieces while he was totally deaf. 
            </p>
            <p>
                Source:<br />
                Knapp, R., & Budden, J. (2020, April 23). Ludwig van Beethoven. Retrieved July 15, 2020, from https://www.britannica.com/biography/Ludwig-van-Beethoven
                <br /><br />
                Thepalmer. (n.d.). Antique Lithograph Plate. Retrieved July 15, 2020, from https://www.istockphoto.com/photo/ludwig-van-beethoven-engraving-gm475498190-66043217?utm_campaign=srp_photos_noresults</p>
        </div>
    </div>


</div>
