<mat-card>
    <mat-card-title class="blue">
        {{ book.title }}
    </mat-card-title>
    <br />
    <mat-card-content>
        <div fxLayout="column">
            <p>
                Title: {{ book.title }}
            </p>
            <p>
                ISBN: {{ book.isbn }}
            </p>
            <p>
                Number of Pages: {{ book.numOfPages }}
            </p>
            <p>
                Author: {{ book.authors }}
            </p>
        </div>
    </mat-card-content>
    <br />
    <mat-card-actions align="end">
            <button mat-raised-button color=”accent” mat-dialog-close class="green">Okay</button>
    </mat-card-actions>
</mat-card>