.form-container {
    width: 80%;
    height: 70%;
    margin: 15% auto;
    margin-top: 8%
}
.form-container > mat-card-title, mat-card-subtitle {
    text-align: center;
}

h1{
    text-align: center;
}

.checkbox{
    display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}