/*
============================================
; Title:  Exercise 5.4
; Author: Professor Krasso
; Modified by: James Brown
; Date:   8/5/2020
; Description: exercise 5.4 per instructions
;===========================================
*/


.a-link {
    text-decoration: none;
    cursor: pointer;
}

.a-link:hover {
    text-decoration: underline;
}